{% extends 'base/base.html' %}

{% block title %}
	Inmuebles
{% endblock %}

{% block importfiles %}
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}

{% block content %}
	<h3>Lista de los inmuebles disponibles</h3>

	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Direccion</td>
				<td>Metros cuadrados</td>
				<td>Precio</td>
				<td>Habitaciones</td>
				<td>Descripcion</td>
				<td>Alquiler o venta</td>
				<td>Disponibilidad</td>
				<td>Ciudad</td>
				<td>Propietario</td>
				<td>Editar</td>
			</tr>
		</thead>
		<tbody>
			{% if object_list %}
				{% for inmueble in object_list %}
					{% if inmueble.disponibilidad == True %}
					<tr>
						<td>{{ inmueble.direccion }}</td>
						<td>{{ inmueble.metros }}</td>
						<td>{{ inmueble.precio }}</td>
						<td>{{ inmueble.habitaciones }}</td>
						<td>{{ inmueble.descripccion }}</td>
						<td>{{ inmueble.opcion }}</td>
						<td>{{ inmueble.disponibilidad }}</td>
						<td>{{ inmueble.ciudad.nombre }}</td>
						<td>{{ inmueble.propietario.nombre }}</td>
						<td class='td-center'><a class="btn btn-primary" href="/inmuebles/editar/{{ inmueble.id }}">Editar</a><a class="btn btn-danger" href="/inmuebles/delete/{{ inmueble.id }}">Eliminar</a></td>
					</tr>
					{% endif %}
				{% endfor %}
			{% else %}
			<h1>En este momento no hay ningun apartamento disponible</h1>
			{% endif %}
		</tbody>
	</table>
{% endblock %}