{% extends 'base/base.html' %}

{% block title %}
	Propietarios
{% endblock %}

{% block content %}
	<h3>Lista de los propietarios disponibles</h3>

	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td>Fecha de nacimiento</td>
				<td>Direccion</td>
				<td>Telefono</td>
				<td>Email</td>
				<td>Editar/Eliminar</td>
			</tr>
		</thead>
		<tbody>
			{% if object_list %}
				{% for propietario in object_list %}
					<tr>
						<td>{{ propietario.nombre }}</td>
						<td>{{ propietario.apellidos }}</td>
						<td>{{ propietario.fecha_nacimiento }}</td>
						<td>{{ propietario.direccion }}</td>
						<td>{{ propietario.telefono }}</td>
						<td>{{ propietario.email }}</td>
						<td style='text-align:center;'><a class="btn btn-primary" href="{% url 'propietario_editar' propietario.id %}">Editar</a><a class="btn btn-danger" href="{% url 'propietario_eliminar' propietario.id %}">Eliminar</a></td>
					</tr>
				{% endfor %}
			{% else %}
			<h1>La lista de propietarios esta vacia</h1>
			{% endif %}
		</tbody>
	</table>
{% endblock %}